@using WebApplication1.Models
@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>

@{ 
    //string Name = WebApplication1.Models.TestModel.GetName();
    string Name = TestModel.GetName();
}
@Html.Raw(Name)
@{ 
    if (1==1)
    {
        <p>This Is 1==1</p>
    }
    else
    {
        <p>This Is 1==2</p>
    }
}